*{
    margin: 0%;
    padding: 0%;
   
}
body{
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
/* ======common design ======= */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

}
header{
    margin-top: 30px;
    margin-bottom: 50px;
}


/* nav{
    display: flex;
    justify-content: space-between;
} */
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.navbar ul{
    display: flex;
    
}.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    margin: 7px;
    padding: 5px;
}
.navbar ul li a:hover{
    background-color: rgb(175, 223, 223);
    border-radius: 5px;
    transition-duration: .5s;
}


.intro{
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

}
.banner{
    width: 80%;

}
.banner h1{
    font-size: 40px;

}
.banner p{
    line-height: 18px;
}
.button{
    padding: 10px 15px;
    margin-top: 30px;
    border-radius: 6px;
    background-color: cornflowerblue;
}


.intro-image{
    /* background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
 
}
.intro-image img{
    width: 70%;
}

.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}


.product-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}
.product1{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end;
    align-items: center; */
    padding: 20px;
    border-radius: 10px;

}
.container div h5{
    display: flex;
    justify-content: flex-end;
    color: tomato;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}
/* ------------
-------footer-----
----------------- */
footer{
    width: 100%;
    background-color: black;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

footer h5{
    color: blanchedalmond;
}
footer p{
    color: whitesmoke;
    text-align: center;
    
}
/* mobile responsive */
@media (max-width:768px){
    nav{
        display: grid;
        grid-template-columns: 1fr;
    }
    .small-heading{
        font-size: 25px;
        order: 2;
        padding-top: 40px;
    }
    .intro{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    .banner{
        order: 2;
    }


    .product-details{
        display: grid;
        grid-template-columns: 1fr;
    }


}
